* {
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header logo and header links */
.header {
    background-color: rgb(44, 44, 68);
    color: white;
    padding: 10px 120px;
}

.top-container {
    display: flex;
}

.header-logo {
    margin-left: 0;
    margin-right: 50px;
}

.header-links {
    display: flex;
    margin-right: 0;
    gap: 40px;
   
}

a {
    margin-right: 0;
    text-decoration: none;
    color: white;
    gap: 20px;
}

.text-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0;
}


.header-info, .header-img {
    flex: 1;
    max-width: 50%;
}

.header-info {
    box-sizing: border-box;
    margin: 20px;

}

#header-text {
    font-weight: bold;
}

#header-btn {
    margin-top: 5px;
    padding: 5px 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
        background-color: #5a5ae2;
    border: none;
    border-radius: 5px;
}

.header-img {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
}