* {
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/* header logo and header links */
.header {
    background-color: rgb(44, 44, 68);
    color: white;
    padding: 10px 120px;
}

.top-container {
    display: flex;
    max-width: 70%;
}

.header-logo {
    margin-left: 0;
    margin-right: 50px;
}

.header-links {
    display: flex;
    margin-right: 0;
    gap: 40px;
   
}

a {
    margin-right: 0;
    text-decoration: none;
    color: white;
    gap: 20px;
}

/* header image and text */
.text-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
    max-width: 70%;
}


.header-info, .header-img {
    flex: 1;
    max-width: 50%;
}

.header-info {
    box-sizing: border-box;
    padding: 0 20px 0 0;
}
#header-text {
    font-size: 3rem;
    font-weight: bold;
}

#header-subtext {
    font-size: 1rem;
}

#header-btn {
    margin-top: 5px;
    padding: 5px 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #5a5ae2;
    border: none;
    border-radius: 5px;
}

.header-img {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
}

#random-info {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.info-container {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.info-img {
    border: 2px solid #5a5ae2;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-caption {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #808080;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: rgba(211, 211, 211, 0.4);
    color: #000;
    margin: 50px 0;
}

#quote-text {
    font-size: 2rem;
    font-style: italic;
    max-width: 70%;
    padding: 20px 0;
}

#quote-author {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 25%;
    max-width: 70%;
}
